body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-top: 1%;
    margin-left: 3%;
}
h2{
    max-width: 700px;
    font-size: 1.5em;
    text-align: justify;
}

svg{
    margin-top: -29%;
    margin-left: 800px;
    border: 1px solid rgb(0, 0, 0);
    width: 500px;
    height: 700px;
}

